[Desktop Entry]
Name=ST Verification Studio
Comment=Graphical Structured Text verifier
Icon=/opt/stvs/src/resources/edu/kit/iti/formal/stvs/logo.svg
Exec=/opt/stvs/stvs
Terminal=false
Type=Application
Categories=Application,Development
StartupNotify=false
